html, body {
    font-family: "Cascadia Mono", Tahoma, Verdana, Arial, sans-serif;
}

body {
    padding: 3rem;
}

[tm-role="setup"] p:first-child,
[tm-role="act"] p:first-child,
[tm-role="assert"] p:first-child {
    font-size: larger;
    font-weight: bold;
}

[tm-role='endpoints'] {
    display: none;
}

[tm-role="test-name"] button {
    background: none;
    border: solid 2px silver;
    border-radius: 3px;
    color: black;
    margin-left: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
}

[tm-role="test-name"] button:hover {
    background: darkgreen;
    border: solid 2px silver;
    color: white;
}

[tm-arg] {
    color: darkred;
    font-weight: bold;
}

[tm-role='expected'] {
    color: darkgreen;
    font-weight: bold;
}

[tm-role='assert'] p:first-child {
    font-weight: bold;
    font-size: larger;
}

.running:before {
    content: '⌛';
}

.failure:before {
    content: '❌'
}

.success:before {
    content: '✅'
}

.error {
    padding: 0.5rem;
    background: lightgoldenrodyellow;
    line-height: 1.5rem;
}

span.error {
    font-size: smaller;
    font-style: italic;
}